includes='.*'

#checkPolicies=true
#forceCheckAllDependencies=true

#forceUpdate=true

checkPolicies=true
forceCheckAllDependencies=true

forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

npm.runPreStep=true

# resolveDependencies parameter is important and need to be true
go.resolveDependencies=true
# ignoreSourceFiles parameter is important and need to be true
go.ignoreSourceFiles=true
go.collectDependenciesAtRuntime=true


python.installVirtualenv=true

# python.resolveSetupPyFiles=true
# python.runPipenvPreStep=true
# python.pipenvDevDependencies=true


#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true

fileSystemScan=true
python.resolveGlobalPackages=true
python.pipPath=pip3
